<aside>
  <h1>Groceries</h1>

  <div class="clear-items-wrapper">
    <p class="badge" id="clear-items" ng-click="$ctrl.clearItems()">clear all items</p>
    <p>Offline mode: <toggle ng-model="toggleValue" ng-change="changed()"></toggle></p>
  </div>

  <label
    class="shopping-item-label"
    ng-repeat="item in $ctrl.allItems
    | orderBy:['purchased', 'added_on']
    track by $index">
    <input type=checkbox ng-checked="{{ item.purchased }}" ng-model="item.purchased" ng-change="$ctrl.updateItem(item)">
    <span class="shopping-item">{{ item.name }} <span class="added_on">(added on: {{ item.added_on|date:'dd-MM-yyyy HH:mm:ss' }})</span></span>
  </label>

  <div>
    <input type="text" id="input" ng-model="$ctrl.currentItem" />
    <input type="button" data-button="outline" value="➕" ng-click="$ctrl.addItem($ctrl.currentItem)" />
  </div>
</aside>
