<aside>
  <h1>Groceries</h1>

  <div class="clear-items-wrapper">
    <p class="badge badge-danger" id="clear-items" ng-click="$ctrl.clearItems()">clear items</p>
  </div>

  <label class="shopping-item-label" ng-repeat="item in $ctrl.allItems track by $index">
    <input type=checkbox>
    <span class="shopping-item">{{ item.name }} <span class="added_on">(added on: {{ item.added_on|date:'dd-MM-yyyy HH:mm:ss' }})</span></span>
  </label>

  <div>
    <input type="text" id="input" ng-model="$ctrl.currentItem" />
    <input type="button" data-button="outline" value="➕" ng-click="$ctrl.addItem($ctrl.currentItem)" />
  </div>
</aside>
